<div class="h-screen w-screen flex bg-zinc-950 text-white">
  <div
    class="relative flex w-full flex-col justify-center gap-y-8 px-12 sm:mx-auto sm:basis-[420px] sm:px-0 lg:basis-[480px] lg:px-12"
  >
    <app-project-logo
      [customClass]="'text-5xl font-extrabold'"
      [customSubClass]="'mt-3 text-base'"
      [customSubHr]="'h-1 mt-1 w-56'"
    />

    <div class="space-y-8">
      <div class="space-y-1.5">
        <h2 class="text-2xl font-semibold tracking-tight">
          Create a new account
        </h2>
        <h6>
          <span class="opacity-75">Already have an account?</span
          ><a
            class="inline-flex scale-100 items-center justify-center rounded-sm text-sm font-medium ring-offset-background transition-[transform,background-color] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline h-auto px-1.5"
            routerLink="/auth/login"
            data-discover="true"
            >Sign in now
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="currentColor"
              viewBox="0 0 256 256"
              class="ml-1"
            >
              <path
                d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
              ></path></svg
          ></a>
        </h6>
      </div>
      <div class="">
        <form
          [formGroup]="registerFormGrp"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-y-4"
        >
          <div class="w-full space-y-1">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-60"
              for=":rd:-form-item"
              >Name</label
            >
            <input
              autocomplete="Name"
              formControlName="name"
              class="flex h-9 w-full rounded border bg-transparent px-3 py-0.5 !text-sm ring-0 ring-offset-transparent transition-colors [appearance:textfield] placeholder:opacity-80 hover:bg-secondary/20 focus:border-primary focus:bg-secondary/20 focus-visible:outline-none focus-visible:ring-0 disabled:cursor-not-allowed disabled:opacity-50 [&amp;::-webkit-inner-spin-button]:appearance-none [&amp;::-webkit-outer-spin-button]:appearance-none file:border-0 file:bg-transparent file:pt-1 file:text-sm file:font-medium file:text-primary border-border lowercase"
              placeholder="John Doe"
              value=""
            />
            <p
              id=":rd:-form-item-description"
              class="text-xs leading-relaxed opacity-60"
            >
              You can also enter your username.
            </p>
          </div>
          <div class="w-full space-y-1">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-60"
              for=":rd:-form-item"
              >Email</label
            >
            <input
              autocomplete="email"
              formControlName="email"
              class="flex h-9 w-full rounded border bg-transparent px-3 py-0.5 !text-sm ring-0 ring-offset-transparent transition-colors [appearance:textfield] placeholder:opacity-80 hover:bg-secondary/20 focus:border-primary focus:bg-secondary/20 focus-visible:outline-none focus-visible:ring-0 disabled:cursor-not-allowed disabled:opacity-50 [&amp;::-webkit-inner-spin-button]:appearance-none [&amp;::-webkit-outer-spin-button]:appearance-none file:border-0 file:bg-transparent file:pt-1 file:text-sm file:font-medium file:text-primary border-border lowercase"
              placeholder="john.doe@example.com"
              value=""
            />
            <p
              id=":rd:-form-item-description"
              class="text-xs leading-relaxed opacity-60"
            >
              You can also enter your username.
            </p>
          </div>
          <div class="w-full space-y-1">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-60"
              for=":re:-form-item"
              >Password</label
            ><input
              type="password"
              autocomplete="password"
              formControlName="password"
              class="flex h-9 w-full rounded border bg-transparent px-3 py-0.5 !text-sm ring-0 ring-offset-transparent transition-colors [appearance:textfield] placeholder:opacity-80 hover:bg-secondary/20 focus:border-primary focus:bg-secondary/20 focus-visible:outline-none focus-visible:ring-0 disabled:cursor-not-allowed disabled:opacity-50 [&amp;::-webkit-inner-spin-button]:appearance-none [&amp;::-webkit-outer-spin-button]:appearance-none file:border-0 file:bg-transparent file:pt-1 file:text-sm file:font-medium file:text-primary border-border"
              name="password"
            />
            <p
              id=":re:-form-item-description"
              class="text-xs leading-relaxed opacity-60"
            >
              Hold <code class="text-xs font-bold">Ctrl</code> to display your
              password temporarily.
            </p>
          </div>

          <div class="mt-4 flex items-center gap-x-4">
            <button
              class="inline-flex items-center justify-center rounded-sm text-sm font-medium ring-offset-background transition-transform duration-200 focus:outline-none focus:ring-1 focus:ring-primary focus:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 bg-red-500 text-primary-foreground hover:bg-primary/80 h-9 px-5 flex-1"
              type="submit"
            >
              Sign in</button
            ><a
              class="inline-flex scale-100 items-center justify-center rounded-sm text-sm font-medium ring-offset-background transition-[transform,background-color] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline h-auto px-4"
              >Forgot Password?</a
            >
          </div>
        </form>
      </div>
    </div>

    <div class="flex items-center gap-x-4">
      <hr class="flex-1" />
      <span class="text-xs font-medium">or continue with</span>
      <hr class="flex-1" />
    </div>
    <div class="grid grid-cols-2 gap-4">
      <a
        href="/api/auth/github"
        class="inline-flex scale-100 items-center justify-center rounded-sm text-sm font-medium ring-offset-background transition-[transform,background-color] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/80 h-10 px-6 w-full !bg-[#222] !text-white hover:!bg-[#222]/80"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          fill="currentColor"
          viewBox="0 0 256 256"
          class="mr-3 size-4"
        >
          <path
            d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
          ></path></svg
        >GitHub</a
      ><a
        href="/api/auth/google"
        class="inline-flex scale-100 items-center justify-center rounded-sm text-sm font-medium ring-offset-background transition-[transform,background-color] focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary focus-visible:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/80 h-10 px-6 w-full !bg-[#4285F4] !text-white hover:!bg-[#4285F4]/80"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          fill="currentColor"
          viewBox="0 0 256 256"
          class="mr-3 size-4"
        >
          <path
            d="M224,128a96,96,0,1,1-21.95-61.09,8,8,0,1,1-12.33,10.18A80,80,0,1,0,207.6,136H128a8,8,0,0,1,0-16h88A8,8,0,0,1,224,128Z"
          ></path></svg
        >Google</a
      >
    </div>
  </div>

  <div class="relative hidden lg:block lg:flex-1">
    <div class="bg-cover bg-center">
      <img
        width="1920"
        height="1080"
        alt="Open books on a table"
        class="h-screen w-full object-cover object-center"
        src="https://images.unsplash.com/photo-1599222848373-ce6b9ccd9a87?q=80&w=1116&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <div
        class="absolute bottom-5 right-5 z-10 bg-primary/30 px-4 py-2 text-xs font-medium text-primary-foreground backdrop-blur-sm"
      >
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://unsplash.com/photos/Oaqk7qqNh_c"
          >Photograph by Patrick Tomasso</a
        >
      </div>
    </div>
  </div>
</div>
