<div [formGroup]="parentForm">
  <h2 class="heading1">Basic Information</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
    <div>
      <label class="form-label">Full Name</label>
      <input
        type="text"
        formControlName="fullName"
        placeholder="John Doe"
        class="input-field"
      />
      <div
        *ngIf="
          parentForm.get('fullName')?.touched &&
          parentForm.get('fullName')?.invalid
        "
        class="errorMsg"
      >
        <div *ngIf="parentForm.get('fullName')?.errors?.['required']">
          Full Name is required.
        </div>
        <div *ngIf="parentForm.get('fullName')?.errors?.['minlength']">
          Full Name must be at least 3 characters.
        </div>
      </div>
    </div>
    <div>
      <label class="form-label">Job Title</label>

      <input
        type="text"
        formControlName="jobTitle"
        placeholder="Software Developer"
        class="input-field"
      />
      <div
        *ngIf="
          parentForm.get('jobTitle')?.touched &&
          parentForm.get('jobTitle')?.invalid
        "
        class="errorMsg"
      >
        <div *ngIf="parentForm.get('jobTitle')?.errors?.['required']">
          Job title is required.
        </div>
        <div *ngIf="parentForm.get('jobTitle')?.errors?.['minlength']">
          Job title must be at least 3 characters.
        </div>
      </div>
    </div>
    <div>
      <label class="form-label">Email</label>
      <input
        type="email"
        formControlName="email"
        placeholder="john.doe@example.com"
        class="input-field"
      />
      <div
        *ngIf="
          parentForm.get('email')?.touched && parentForm.get('email')?.invalid
        "
        class="errorMsg"
      >
        <div *ngIf="parentForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="parentForm.get('email')?.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <div>
      <label class="form-label">Phone</label>
      <input
        type="tel"
        formControlName="phone"
        placeholder="+91 1234567890"
        class="input-field"
      />
      <div
        *ngIf="
          parentForm.get('phone')?.touched && parentForm.get('phone')?.invalid
        "
        class="errorMsg"
      >
        <div *ngIf="parentForm.get('phone')?.errors?.['required']">
          Phone number is required.
        </div>
        <div *ngIf="parentForm.get('phone')?.errors?.['pattern']">
          Please enter a valid phone number (e.g., +911234567890).
        </div>
      </div>
    </div>
    <div class="md:col-span-2">
      <label class="form-label">Summary</label>
      <textarea
        rows="4"
        formControlName="summary"
        placeholder="A passionate software developer with expertise in Angular and Node.js..."
        class="input-field"
      ></textarea>
      <div
        *ngIf="
          parentForm.get('summary')?.touched &&
          parentForm.get('summary')?.invalid
        "
        class="errorMsg"
      >
        <div *ngIf="parentForm.get('summary')?.errors?.['required']">
          Summary is required.
        </div>
      </div>
    </div>
  </div>
</div>
