@if (openDeleteModal) {

<div deleteModal class="modal-overlay">
  <div
    class="fixed left-1/2 top-1/2 z-50 grid w-full max-w-lg -translate-x-1/2 -translate-y-1/2 gap-4 rounded border border-gray-800 constant-bg p-6 md:w-full z-[1000]"
    [@modalState]
  >
    <h2 class="text-base font-medium">
      Are you sure you want to delete {{ itemName }}?
    </h2>
    <p>
      This action cannot be undone. This will permanently delete your
      {{ itemName }} and cannot be recovered.
    </p>
    <div class="modal-actions">
      <button (click)="onCancel()">Cancel</button>
      <button (click)="onDelete()" class="delete-btn">Delete</button>
    </div>
  </div>
</div>
} @if (isLoader) {

<app-loader></app-loader>
}
