<div class="p-6">
  <div class="flex flex-wrap gap-2 mb-5">
    <button
      *ngFor="let lang of quickList"
      (click)="quickSelect($event, lang)"
      class="px-4 py-2 rounded-full border"
      [class.bg-blue-500]="selectedLanguage === lang"
      [class.text-white]="selectedLanguage === lang"
    >
      {{ lang }}
    </button>
  </div>

  <form
    *ngIf="adding || editingIndex !== null"
    [formGroup]="languageForm"
    (ngSubmit)="save($event)"
    class="flex flex-wrap items-center gap-3 mb-5"
  >
    <button
      *ngIf="!adding && editingIndex === null"
      (click)="addAnother($event)"
      class="text-blue-600 hover:underline mb-5"
    >
      + Add another language
    </button>
    <select formControlName="language" class="p-2 border rounded w-44">
      <option value="" disabled>Select language</option>
      <option *ngFor="let lang of quickList" [value]="lang">{{ lang }}</option>
    </select>

    <select formControlName="level" class="p-2 border rounded w-60">
      <option value="" disabled>Select level</option>
      <option value="C2">Bilingual or Proficient (C2)</option>
      <option value="C1">Advanced (C1)</option>
      <option value="B2">Upper Intermediate (B2)</option>
      <option value="B1">Intermediate (B1)</option>
      <option value="A2">Elementary (A2)</option>
      <option value="A1">Beginner (A1)</option>
    </select>

    <button
      type="button"
      (click)="cancel()"
      class="px-4 py-2 border border-blue-500 text-blue-500 rounded"
    >
      Cancel
    </button>

    <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded">
      {{ editingIndex === null ? "Save" : "Update" }}
    </button>
  </form>

  <button
    class="text-blue-600 hover:underline mb-5"
    [disabled]="adding || editingIndex !== null"
    [ngClass]="{
      'opacity-50 cursor-not-allowed': adding || editingIndex !== null
    }"
    (click)="addAnother($event)"
  >
    + Add another language
  </button>

  <div class="space-y-3">
    <div
      *ngFor="let grp of languagesArray.controls; let i = index"
      class="flex items-center justify-between p-3 bg-gray-50 border rounded-lg shadow-sm"
    >
      <div class="flex items-center gap-4">
        <span class="font-medium text-gray-700">{{ i + 1 }}</span>
        <div>
          <h3 class="text-lg font-semibold">
            {{ grp.get("language")?.value }}
          </h3>
          <p class="text-sm text-gray-600">
            {{ levelLabel(grp.get("level")?.value) }}
          </p>
        </div>
      </div>

      <div class="flex gap-2">
        <button (click)="edit(i)" class="p-1 hover:bg-gray-200 rounded">
          ✏️
        </button>
        <button (click)="delete(i)" class="p-1 hover:bg-gray-200 rounded">
          🗑️
        </button>
      </div>
    </div>
  </div>
</div>
