<div [formGroup]="parentForm">
  <div class="mb-6">
    <div class="flex items-center justify-between mb-2 pl-2">
      <h2 class="heading1">Tell us about your education</h2>
      <button
        type="button"
        (click)="addNewEducations()"
        aria-label="Add education"
        class="btn-primary"
      >
        <fa-icon [icon]="faPlus"></fa-icon>Add
      </button>
    </div>
    <p class="text-info">
      Enter your education experience so far, even if you are a current student
      or did not graduate.
    </p>
  </div>

  <ng-container formArrayName="educationsArray">
    <ng-container
      *ngFor="let education of educationsArray.controls; let i = index"
    >
      <ng-container [formGroupName]="i">
        <div class="education-card">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <label class="input-label">Institution</label>
              <input
                formControlName="institution"
                type="text"
                placeholder="University of XYZ"
                class="input-field"
              />
              <div
                *ngIf="
                  education.get('institution')?.touched &&
                  education.get('institution')?.invalid
                "
                class="errorMsg"
              >
                Institution is required.
              </div>
            </div>
            <div>
              <label class="input-label">Degree</label>
              <input
                formControlName="degree"
                type="text"
                placeholder="B.Tech, Computer Science"
                class="input-field"
              />
              <div
                *ngIf="
                  education.get('degree')?.touched &&
                  education.get('degree')?.invalid
                "
                class="errorMsg"
              >
                Degree is required.
              </div>
            </div>
            <div>
              <label class="input-label">Start Date</label>
              <input
                formControlName="startDate"
                type="date"
                class="input-field"
              />
              <div
                *ngIf="
                  education.get('startDate')?.touched &&
                  education.get('startDate')?.invalid
                "
                class="errorMsg"
              >
                Start Date is required.
              </div>
            </div>
            <div>
              <label class="input-label">End Date</label>
              <input
                formControlName="endDate"
                type="date"
                class="input-field"
              />
            </div>
          </div>

          <div class="mt-6 text-right" *ngIf="i > 0">
            <button
              type="button"
              (click)="removeEducation(i)"
              class="btn-danger"
              aria-label="Remove education"
            >
              <fa-icon [icon]="faMinus" class="mr-1"></fa-icon>
              Remove
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
