@use "tailwindcss";

body {
}

.input-field {
  @apply block w-full rounded-lg border border-slate-300 bg-white px-4 py-2 text-sm shadow-sm 
           focus:ring-2 focus:ring-emerald-300 focus:border-emerald-300 transition duration-200 
           hover:shadow-md;
}

.nav-btn {
  @apply px-6 py-2 rounded-lg transition duration-200 transform hover:scale-105;
}

.active {
  @apply text-emerald-300 scale-105;
}

.active span {
  @apply w-full;
}

@layer components {
  .nav-btn {
    @apply px-4 py-2 rounded-md transition hover:scale-105 disabled:opacity-40;
  }
}

@layer components {
  .input-field {
    @apply block w-full rounded-lg border border-slate-300 bg-white px-4 py-2 text-sm shadow-sm
           focus:ring-2 focus:ring-emerald-300 focus:border-emerald-300 transition duration-200
           hover:shadow-md;
  }
}

.btn-primary {
  @apply flex items-center gap-2 px-3 py-2 bg-gradient-to-r from-blue-950 to-emerald-800 text-white rounded-lg shadow-md hover:bg-emerald-900 hover:shadow-lg transition-transform hover:scale-105;
}

.btn-danger {
  @apply flex items-center gap-2 px-3 py-2 bg-gradient-to-r from-red-500 to-red-600 text-white rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg transition-transform hover:scale-105;
}

.sticky-stepper {
  transition: all 0.3s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.1) inset !important;
  // -webkit-text-fill-color: white !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
}

input {
  transition: all 0.3s ease;
}

input:hover {
  box-shadow: 0 0 10px rgba(16, 185, 129, 0.3);
}

input:focus {
  box-shadow: 0 0 15px rgba(16, 185, 129, 0.5);
}
// .blur-background {
//   filter: blur(5px);
//   transition: filter 0.3s ease;
//   pointer-events: none; /* optional: prevent interaction with blurred content */
// }

.blur-all * {
  filter: blur(8px) !important;
  transition: filter 0.3s ease;
  pointer-events: none;
  user-select: none;
}

/* app.component.css */
div[appBlur] {
  transition: filter 0.3s ease;
}
