@use "tailwindcss";
@use "../src/assets/custom.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --zinc-50: 0 0% 98%;
  --zinc-100: 240 4.8% 95.9%;
  --zinc-200: 240 5.9% 90%;
  --zinc-300: 240 4.9% 83.9%;
  --zinc-400: 240 5% 64.9%;
  --zinc-500: 240 3.8% 46.1%;
  --zinc-600: 240 5.2% 33.9%;
  --zinc-700: 240 5.3% 26.1%;
  --zinc-800: 240 3.7% 15.9%;
  --zinc-900: 240 5.9% 10%;
  --zinc-950: 240 10% 3.9%;
  --amber-50: 48 100% 96.1%;
  --amber-100: 48 96.5% 88.8%;
  --amber-200: 48 96.6% 76.7%;
  --amber-300: 45.9 96.7% 64.5%;
  --amber-400: 43.3 96.4% 56.3%;
  --amber-500: 37.7 92.1% 50.2%;
  --amber-600: 32.1 94.6% 43.7%;
  --amber-700: 26 90.5% 37.1%;
  --amber-800: 22.7 82.5% 31.4%;
  --amber-900: 21.7 77.8% 26.5%;
  --amber-950: 20.9 91.7% 14.1%;
  --emerald-50: 151.8 81% 95.9%;
  --emerald-100: 149.3 80.4% 90%;
  --emerald-200: 152.4 76% 80.4%;
  --emerald-300: 156.2 71.6% 66.9%;
  --emerald-400: 158.1 64.4% 51.6%;
  --emerald-500: 160.1 84.1% 39.4%;
  --emerald-600: 161.4 93.5% 30.4%;
  --emerald-700: 162.9 93.5% 24.3%;
  --emerald-800: 163.1 88.1% 19.8%;
  --emerald-900: 164.2 85.7% 16.5%;
  --emerald-950: 165.7 91.3% 9%;
  --sky-50: 204 100% 97.1%;
  --sky-100: 204 93.8% 93.7%;
  --sky-200: 200.6 94.4% 86.1%;
  --sky-300: 199.4 95.5% 73.9%;
  --sky-400: 198.4 93.2% 59.6%;
  --sky-500: 198.6 88.7% 48.4%;
  --sky-600: 200.4 98% 39.4%;
  --sky-700: 201.3 96.3% 32.2%;
  --sky-800: 201 90% 27.5%;
  --sky-900: 202 80.3% 23.9%;
  --sky-950: 204 80.2% 15.9%;
  --rose-50: 355.7 100% 97.3%;
  --rose-100: 355.6 100% 94.7%;
  --rose-200: 352.7 96.1% 90%;
  --rose-300: 352.6 95.7% 81.8%;
  --rose-400: 351.3 94.5% 71.4%;
  --rose-500: 349.7 89.2% 60.2%;
  --rose-600: 346.8 77.2% 49.8%;
  --rose-700: 345.3 82.7% 40.8%;
  --rose-800: 343.4 79.7% 34.7%;
  --rose-900: 341.5 75.5% 30.4%;
  --rose-950: 343.1 87.7% 15.9%;
  --background: var(--zinc-50);
  --foreground: var(--zinc-950);
  --border: var(--zinc-200);
  --primary: var(--zinc-900);
  --primary-accent: var(--zinc-800);
  --primary-foreground: var(--zinc-50);
  --secondary: var(--zinc-200);
  --secondary-accent: var(--zinc-100);
  --secondary-foreground: var(--zinc-950);
  --error: var(--rose-500);
  --error-accent: var(--rose-400);
  --error-foreground: var(--rose-50);
  --warning: var(--amber-500);
  --warning-accent: var(--amber-400);
  --warning-foreground: var(--amber-50);
  --info: var(--sky-500);
  --info-accent: var(--sky-400);
  --info-foreground: var(--sky-50);
  --success: var(--emerald-500);
  --success-accent: var(--emerald-400);
  --success-foreground: var(--emerald-50);
}

.dark {
  --background: var(--zinc-950);
  --foreground: var(--zinc-50);
  --border: var(--zinc-800);
  --primary: var(--zinc-100);
  --primary-accent: var(--zinc-200);
  --primary-foreground: var(--zinc-950);
  --secondary: var(--zinc-800);
  --secondary-accent: var(--zinc-900);
  --secondary-foreground: var(--zinc-50);
  --error: var(--rose-700);
  --error-accent: var(--rose-800);
  --error-foreground: var(--rose-50);
  --warning: var(--amber-700);
  --warning-accent: var(--amber-800);
  --warning-foreground: var(--amber-50);
  --info: var(--sky-700);
  --info-accent: var(--sky-800);
  --info-foreground: var(--sky-50);
  --success: var(--emerald-700);
  --success-accent: var(--emerald-800);
  --success-foreground: var(--emerald-50);
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}
/* Regular 400 */
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto; /* optional for better legibility */
}

/* Medium 500 */
.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Semi-bold 600 */
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
}

/* Bold 700 */
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.\!overflow-visible {
  overflow: visible !important;
}

.overflow-visible {
  overflow: visible;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-words {
  overflow-wrap: break-word;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[inherit\] {
  border-radius: inherit;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-none {
  border-radius: 0;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.border-none {
  border-style: none;
}

.border-border {
  border-color: hsl(var(--border));
}

.border-error {
  border-color: hsl(var(--error));
}

.border-foreground {
  border-color: hsl(var(--foreground));
}

.border-info {
  border-color: hsl(var(--info));
}

.border-primary {
  border-color: hsl(var(--primary));
}

.border-secondary {
  border-color: hsl(var(--secondary));
}

.border-success {
  border-color: hsl(var(--success));
}

.border-transparent {
  border-color: transparent;
}

.border-warning {
  border-color: hsl(var(--warning));
}

.border-l-transparent {
  border-left-color: transparent;
}

.border-t-transparent {
  border-top-color: transparent;
}

.\!bg-\[\#222\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-\[\#4285F4\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(66 133 244 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-\[\#dc2626\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1)) !important;
}

.bg-background {
  background-color: hsl(var(--background));
}

.bg-background\/30 {
  background-color: hsl(var(--background) / 0.3);
}

.bg-background\/5 {
  background-color: hsl(var(--background) / 0.05);
}

.bg-background\/75 {
  background-color: hsl(var(--background) / 0.75);
}

.bg-background\/80 {
  background-color: hsl(var(--background) / 0.8);
}

.bg-border {
  background-color: hsl(var(--border));
}

.bg-error {
  background-color: hsl(var(--error));
}

.bg-info {
  background-color: hsl(var(--info));
}

.bg-primary {
  background-color: hsl(var(--primary));
}

.bg-primary\/30 {
  background-color: hsl(var(--primary) / 0.3);
}

.bg-secondary {
  background-color: hsl(var(--secondary));
}

.bg-secondary-accent {
  background-color: hsl(var(--secondary-accent));
}

.bg-secondary-accent\/30 {
  background-color: hsl(var(--secondary-accent) / 0.3);
}

.bg-secondary-accent\/50 {
  background-color: hsl(var(--secondary-accent) / 0.5);
}

.bg-secondary\/10 {
  background-color: hsl(var(--secondary) / 0.1);
}

.bg-secondary\/40 {
  background-color: hsl(var(--secondary) / 0.4);
}

.bg-secondary\/50 {
  background-color: hsl(var(--secondary) / 0.5);
}

.bg-success {
  background-color: hsl(var(--success));
}

.bg-transparent {
  background-color: transparent;
}

.bg-warning {
  background-color: hsl(var(--warning));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-zinc-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity, 1));
}

.nav-btn {
  @apply px-6 py-2 rounded-lg transition duration-200 transform hover:scale-105
    bg-gray-800 text-gray-300 hover:bg-green-700;
}

.active span {
  @apply w-full;
}

.btn-primary {
  @apply flex items-center gap-2 px-3 py-2 bg-gradient-to-r from-green-900 to-green-600
    text-white rounded-lg shadow-md hover:bg-green-700 hover:shadow-lg
    transition-transform hover:scale-105;
}

.btn-danger {
  @apply flex items-center gap-2 px-3 py-2 bg-gradient-to-r from-red-900 to-red-700
    text-white rounded-lg shadow-md hover:bg-red-600 hover:shadow-lg
    transition-transform hover:scale-105;
}

.sticky-stepper {
  transition: all 0.3s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset !important;
  -webkit-text-fill-color: #d1d5db !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.blur-all * {
  filter: blur(8px) !important;
  transition: filter 0.3s ease;
  pointer-events: none;
  user-select: none;
}

div[appBlur] {
  transition: filter 0.3s ease;
}
.form-label {
  @apply block mb-2 text-sm font-semibold text-gray-300;
}

.input-field {
  @apply block w-full rounded-lg border border-gray-700 bg-[#1e1e1e] px-4 py-2 text-sm
    text-gray-300 shadow-sm bg-transparent
    focus:ring-2 focus:ring-[#27272a] focus:border-green-400
    transition duration-200 hover:shadow-md;
  resize: vertical;
}
.textarea-field {
  @apply block w-full rounded-lg border border-gray-700 bg-[#1e1e1e] px-4 py-2 text-sm
    text-gray-300 shadow-sm bg-transparent
    focus:ring-2 focus:ring-[#27272a] focus:border-green-400
    transition duration-200 hover:shadow-md;

  resize: vertical;
  min-height: 120px;
}

input {
  transition: all 0.3s ease;
}

input:hover {
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.4);
}

input:focus {
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.6);
}

.heading1 {
  @apply text-2xl sm:text-3xl font-bold text-gray-300 mb-6;
}
.select-field {
  @apply p-2 rounded border border-gray-600 bg-[#222222] text-gray-200 shadow-sm
    focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-green-500
    transition duration-200;
}

select {
  @apply border border-gray-700 focus:ring-2 focus:ring-[#27272a] focus:border-green-400
    transition duration-200 hover:shadow-md;
  // background: rgba(0, 0, 0, 0.3);
  background-color: hsl(var(--background));
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.tag-input-wrapper {
  @apply w-full bg-[#222222] border border-gray-600 rounded-lg px-4 py-2 text-gray-200
         placeholder-gray-400 shadow-sm focus-within:ring-2 focus-within:ring-green-500
         focus-within:border-green-500 transition duration-200;
}

.current {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 500;
  transform: translateX(5px);
  background: rgba(34, 211, 238, 0.1);
  position: relative;
  display: block;
}

.current::after {
  content: "";
  position: absolute;
  flex-shrink: 0;
  display: inline-block;
  height: 8px;
  width: 8px;
  background: rgb(34, 197, 94);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.8);
  transform: translateY(-50%) scale(1);
  animation: pulseGreen 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  right: 8px;
}

@keyframes pulseGreen {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.4);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(34, 197, 94, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}

.constant-bg {
  background-color: hsl(var(--background));
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    border: 1px solid #1e1e1e;
    background-color: hsl(var(--background));
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(101, 92, 92);
    border-radius: 100vh;
    border: 3px solid #414240;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #c0a0b9;
  }
}
delete-icon[_nghost-ng-c1802487489] path[_ngcontent-ng-c1802487489] {
  fill: #444 !important;
}

.errorMsg {
  @apply text-red-500 text-sm py-1;
}
