<div>
  <h2 class="heading1">What interests do you have?</h2>
  <div [formGroup]="parentForm" class="mb-6">
    <label class="input-label">Add Hobbies</label>
    <tag-input
      formControlName="hobbiesArray"
      [modelAsStrings]="true"
      [separatorKeyCodes]="[13, 188, 9]"
      placeholder="e.g. Reading, Gaming, Sketching"
      [trimTags]="true"
      [addOnPaste]="true"
      [removable]="true"
      class=""
    ></tag-input>
    <div
      *ngIf="
        parentForm.get('hobbiesArray')?.touched &&
        parentForm.get('hobbiesArray')?.invalid
      "
      class="errorMsg"
    >
      Please add at least one skill.
    </div>
  </div>
</div>
